@model Demo.DoSomeBootstrapThing.LayoutTest.Models.MintModel

@{
	ViewBag.Title = "Mint";
}

<h2>Mint</h2>

@*
	This is to display "Create new login" screen similar to Mint.com
		(refer to ~\Content\create new account - mint.png)
*@


<h3>Create a new Account</h3>

<form id="mintForm" method="POST">
	<div class="form-group">
		<label class="control-label col-sm-2">Your Email</label>
		<div class="col-sm-10">
			<input type="text" id="yourEmail" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2">Confirm Email</label>
		<div class="col-sm-10">
			<input type="text" id="confirmEmail" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2">Country</label>
		<div class="col-sm-10">
			@Html.DropDownListFor(m => m.CountryListItems, @Model.CountryListItems, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2">Zip Code</label>
		<div class="col-sm-10"><input type="text" id="zipCode" class="form-control" /></div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2">Password</label>
		<div class="col-sm-10"><input type="password" id="password" class="form-control" /></div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2">Confirm Password</label>
		<div class="col-sm-10"><input type="password" id="confirmPassword" class="form-control" /></div>
	</div>

	<div class="checkbox col-sm-offset-0" style="margin-left: 15px">
		<label>
			<input type="checkbox" id="checkboxSuccess" value="option1">
			Yes, I agreet to the Terms of Use
		</label>
	</div>

	<button type="submit" class="btn btn-warning" style="margin-left: 15px">Sign Up</button>
</form>

















