@model Demo.DoSomeBootstrapThing.LayoutTest.Models.MintModel

@{
    ViewBag.Title = "Mint";
}

<h2>Mint</h2>

@* 
This is to display "Create new login" screen similar to Mint.com 
	(refer to ~\Content\create new account - mint.png) 
*@


<h3>Create a new Account</h3>


<div>
	<label>Your Email</label>
	<input type="text" id="yourEmail"/>
</div>
<div>
	<label>Confirm Email</label>
	<input type="text" id="confirmEmail"/>
</div>
<div>
	<label>Country</label>
	@Html.DropDownList("CountryList", @Model.CountryListItems)
</div>
<div>
	<label>Zip Code</label>
	<input type="text" id="zipCode" />
</div>
<div>
	<label>Password</label>
	<input type="password" id="password" />
</div>
<div>
	<label>Confirm Password</label>
	<input type="password" id="confirmPassword" />
</div>
<div>
	<label>
		<input type="checkbox" id="agreetCheckbox"/>
		Yes, I agreet to the Terms of Use
	</label>
</div>




















