
@{
    ViewBag.Title = "Button";
}

@section Scripts
{
	<script language="javascript">
		$("#loadingButton").on("click", function () {
			var $btn = $(this).button("loading");

			//window.setTimeout(function() {
			//	alert("hi");
			//}, 3000);

			$btn.button("reset");
		});

		$("#myButton").on("click", function() {
			$(this).button("done");
		});

	</script>
}

<h2>Button</h2>

<button type="button" id="loadingButton" data-loading-text="Loading..." class="btn btn-success">
	Loading Button
</button>



<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-primary active">
		<input type="checkbox" autocomplete="off" checked="checked" />Checkbox 1 (pre-checked)
	</label>
	<label class="btn btn-primary">
		<input type="checkbox" autocomplete="off" />Checkbox 2
	</label>
	<label class="btn btn-primary">
		<input type="checkbox" autocomplete="off"/>Checkbox 3
	</label>
</div>

<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-success active">
		<input type="radio" name="options" id="option1" autocomplete="off" checked="checked"/>Radio 1 (Preselected)
	</label>
	<label class="btn btn-success">
		<input type="radio" name="options" id="option2" autocomplete="off" />Radio 2
	</label>
	<label class="btn btn-success">
		<input type="radio" name="options" id="option3" autocomplete="off" />Radio 3
	</label>
</div>

<button type="button" id="myButton" class="btn btn-warning">Some Button</button>












