
@{
    ViewBag.Title = "Collapse";
}

<h2>Collapse</h2>

<a class="btn btn-default" data-toggle="collapse" href="#collapseExample">
	Link with HREF
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" >
	Link with data-target
</button>

<div class="collapse" id="collapseExample">
	<div class="well">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices varius purus vitae placerat. In dignissim neque et metus consequat, ac lacinia tellus lobortis. In mauris enim, tristique id ex in, consectetur euismod dui. Aliquam libero est, luctus vel placerat tempus, malesuada efficitur ligula. Sed in tincidunt lacus. Nam vitae mattis massa, eu dapibus erat. Curabitur vel posuere lectus. Maecenas sit amet tellus bibendum, consectetur urna nec, gravida purus. Morbi efficitur elementum felis, eu ultricies velit ultrices at. Cras dictum placerat erat, id dictum tellus vulputate vel. Mauris vel maximus diam. Donec sed pretium ante, nec dapibus neque.</p>
	</div>
</div>



















